<div class="container">

        <ul class="list-group">

          <!-- Unlistened Items -->
          <li class="list-group-item media" ng-repeat="item in items() | reverse">
            <div class="media-body">
              <h4 class="media-heading"><span class="glyphicon glyphicon-cd"></span> {{item.album}}</h4>
              <p><span class="glyphicon glyphicon-user"></span> {{item.artist}}</p>
            </div>
            <div class="media-right">
              <button class="btn btn-success btn-sm" ng-click="markItemListened(item.$id)">
                <span class="glyphicon glyphicon-music listen-icon"></span>
              </button>
            </div>
          </li>

          <!-- Listened Items -->
          <li class="list-group-item media" ng-repeat="item in listenedItems() | reverse">
            <div class="media-body">
              <h4 class="media-heading text-muted"><span class="glyphicon glyphicon-cd"></span> {{item.album}}</h4>
              <p class="text-muted"><span class="glyphicon glyphicon-user"></span> {{item.artist}}</p>
            </div>
            <div class="media-right">
            </div>
          </li>

        </ul>

</div>
